<div class = "row" ng-hide = "editing">
  <div class = "col-lg-12">
    <div class = "widget">
      <div class = "widget-header">
        <h3 class = "media-heading">{{widget.name}}</h3>
        <button ng-click = "editing = true" class = "btn btn-sm btn-info">Edit</button>
      </div>
      <div class = "widget-detail" style = "padding: 20px; 20px;">
        <h5>Id: {{widget.id}}</h5>
        <h5>Price: ${{widget.price}}</h5>
        <h5>Color: {{widget.color}}</h5>
        <h5>Melts: {{widget.melts ? 'Yes' : 'No'}}</h5>
        <h5>Inventory: {{widget.inventory}}</h5>
      </div>
    </div>
  </div>
</div>

<!-- Create/Edit -->
<div class = "row" ng-show = "editing">

  <!-- Widget listing -->
  <div class = "col-lg-12">
    <div class = "widget">
      <div class = "widget-header">Edit Widget</div>
      <div class = "widget-body">
        <form class = "form-horizontal" ng-submit = "editWidget()">

          <legend>Edit Widget</legend>

          <!-- Name-->
          <div class = "controls" style = "padding-top: 10px">
            <label for = "widget-name">Name:</label>
            <input id = "widget-name" class = "form-control" name = "widget-name" type = "text" placeholder = "{{widget.name}}" class = "input-medium" ng-model = "edited.name" required>
          </div>

          <!-- Price -->
          <div class = "controls" style = "padding-top: 10px">
            <div class = "input-prepend">
              <label for = "widget-price">Price:</label>
              <input id = "widget-price" class = "form-control" name = "widget-price" class = "input-medium" placeholder = "${{widget.price}}" type = "number" ng-model = "edited.price" required>
            </div>
          </div>

          <!-- Color -->
          <div class = "controls" style = "padding-top: 10px">
            <label for = "widget-color">Color:</label>
            <select id = "widget-color" name = "widget-color" class = "input-large form-control" ng-model = "edited.color" required>
              <option>red</option>
              <option>purple</option>
              <option>black</option>
              <option>green</option>
              <option>magenta</option>
              <option>white</option>
              <option>depends on the viewing angle</option>
            </select>
          </div>

          <!-- Melts -->
          <div class = "controls" style = "padding-top: 10px">
            <label>Melts:
            <input type = "checkbox" name = "widget-properties" id = "widget-properties-0" value = "melts" ng-model = "edited.melts" required></label>
          </div>

          <!-- Inventory -->
          <div class = "controls" style = "padding-top: 10px">
            <label for = "widget-count">Inventory:</label>
            <input id = "widget-count" class = "form-control" name = "widget-count" type = "number" placeholder = "{{widget.name}}" class = "input-small" ng-model = "edited.inventory" required>
          </div>
          <button class = "btn btn-md btn-info" style = "margin-top: 20px;">Submit</button>
        </form>
        <div class = "alert alert-success" ng-show = "created" style = "margin-top: 20px;">
          <strong>Awesome!</strong> You've successfuly created a new widget. <br>
          You can find it <a ng-href = "#/widgets">here:)</a>
        </div>

      </div><!-- End Widget body -->
    </div><!-- End Widget -->
  </div><!-- End Column -->
</div><!-- End Row -->